//.home
//  background-color: #ecffb3 !important
//  border-radius: 22px

.home-introduction
  text-align: left
  border: 2px solid #e6e6e6
  margin-top :10px
  margin-bottom: 10px
  padding: 2%
  height:auto
  border-radius: 20px

.home-introduction
  h1
    margin-bottom:20px
    color: #3a3a48
  span
    color: dimgrey

.home-content
  display flex
  justify-content center
  margin-top 20px




